
.header{
  width: 100%;
  top:0;
  left: 0;
  padding: 30px;
  background: white;
  display: flex;
  background-color: lightgray;
}

/*Type of Style*/

body{font-family: 'ds-digitalbold_italic', sans-serif;font-size: 16px; background-color: lightgray ; overflow-x: hidden}

h2, h3, h4, h5, p{color:black; padding-bottom: 30px; text-align: left;}

p{line-height: 28px;color: #666; font-weight: bold;}

.big-text{font-size: 70px;font-weight: 900; margin-left:0px; padding-left:0px;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}
.intro-text{text-rendering: uppercase; font-size: 20px}
.tw{color: #fff}

@font-face {
    font-family: 'ds-digitalbold_italic';
    src: url('digital.TTF') format('ttf'),
         url('digital.TTF') format('ttf');
    font-weight: normal;
    font-style: normal;

}

.logo{width:12%;}

.hero__content{
  width: 80%;
  margin-left : 0px;
  padding: 30px;

}

/*stock*/
.stock{
  border: 4px solid black;
  display: flex;
  padding: 120px 0;
  margin-left: 30px;
  margin-right: 30px;
  background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0, 0.6)),
   url('img/ferrari.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;

}

.stock__text{
  width: 50%;
  padding:30px;

}

.stock__title{
  width: 50%;
  padding: 50px;
  display: flex;
  align-items: center;

}

/*Helpers (margin)*/

.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px;}

/*poster*/

.poster{
  display: flex;
  height: 80vh;
  width: 100%;
  align-items: center;
  margin-left: 30px;


}

.poster__img{
  width:65%;
  height: 100%


}

.poster__img img{
  object-fit: stretch;
  height: 100%;
  display:block;
  margin: auto;
}

.poster__content{
  width: 35%;
  padding: 50px;
}

/*Animazione scritta*/

.marquee{
    margin-top:0px;
    padding: 2px;
    width: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}

.marquee div{
    font-size: 40px;
    font-family: Copperplate Gothic Black;
    color: #000;
    animation: animate 10s linear infinite;
    padding-left: 100%;
    display: inline-block;

}
@keyframes animate{
    100%{
      transform: translate(-100%, 0);
    }
}

/*video*/

#video-back{

}

/*footer*/

.footer{
  background: #010e30;
  padding: 100px 0;
  margin-left: 30px;
  margin-right: 30px;
}

.grid{display: flex; max-width: 1280px; padding: 0 30px;margin: 0 auto; margin-left: 130px;}
.grid .col{width: 100%;}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
